/*MinhNT - Add - Begin*/
.Layer{
	position:relative;
	width:300px;
	height: auto;
	left: 25px;
	top: 15px;
	margin: 10px 23px;
	float: left;
	border-radius:10px;
	background-color: rgb(180,227,243);
	padding-bottom:20px;
}
.subjectImage {
	position:relative;
	top:10px;
	left:10px;
	width:64px;
}

.subjectName {
	position:relative;
	width:180px;
	left:90px;
	top: -33px;
	font-size: 35px;
	font-weight: bold;
    line-height: 40px;
	color:rgb(171,54,66);
}

.subjectName a:link{
	text-decoration: none;
}

.subjectName a:hover{
	color:red;
	text-decoration: none;
}

.chapterName {
	position:relative;
	left: 20px;
	top: 0px;
	margin-bottom: 6px;
	width:255px;
	color:rgb(171,54,66);
	font-size: 18px;
}

.chapterName a:link{
	color:rgb(171,54,66);
	text-decoration: underline;
} 

.chapterName a:visited{
	color:rgb(255,135,55);
	text-decoration: underline;
} 
.chapterName a:hover{
	color:rgb(255,153,85);
	text-decoration: none;
} 

hr {
 background: url('../images/book.gif') no-repeat center center;
 height: 50px;
 border: none;
}

/*Theory content*/
.chapterLayer {
	position:relative;
	width:300px;
	height:auto;
	z-index:2;
	left: 15px;
	top: 15px;
	float:left;
	border:dotted;
	border-width:solid;
	border-color:#3399FF;
	padding-right:0px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	color:blue;
	font-size: 15.5px;
	font-weight:bold;
}

.chapterLink {
	margin-top:2px;
	margin-bottom:2px;
}

.endLine{
	margin-top:3px;
	margin-bottom:3px;
}
.chapterTable{
	width:290;
	height:"57"; 
	border:"0"; 
}

.chapterLayer a:link{
	color:blue;
	text-decoration: none;
} 

.chapterLayer a:visited{
	color:blue;
	text-decoration: none;
} 
.chapterLayer a:hover{
	color:red;
	text-decoration: none;
} 

.theoryLayer {
	position:relative;
	/*width:auto;*/
	width:380px;
	height:auto;
	z-index:2;
	left: 0px;
	top: 15px;
	float:right;
	/*border:ridge;*/
	padding-right:0px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	color:#0000CC;
	font-size: 13.5px;
	line-height:20px;
}

.theoryLayer a:link{
	color:#0000CC;	
	text-decoration: none;
} 

.theoryLayer a:visited{
	color:#0000CC;
} 
.theoryLayer a:hover{
	color:#0000CC;
	text-decoration: underline;
} 

/*MinhNT - Add - End  */

