/*MinhNT - Add - Begin*/
.Layer1 {
	position:relative;
	width:300px;
	height:350px;
	left: 30px;
	top: 15px;
	margin: 10px;
	float: left;
	border-radius:10px;
	background-color: rgb(180,227,243);
}
.Layer2{
	position:relative;
	width:300px;
	height:350px;
	left: 60px;
	top: 15px;
	margin: 10px;
	float: left;
	border-radius:10px;
	background-color: rgb(180,227,243);
}
.subjectImage {
	position:relative;
	top:10px;
	left:10px;
}

.subjectName {
	position:relative;
	left:90px;
	top: -33px;
	font-size: 35px;
	font-weight: bold;
    line-height: 40px;
	color:rgb(171,54,66);
}

.subjectName a:link{
	text-decoration: none;
}

.subjectName a:hover{
	color:red;
	text-decoration: none;
}

.chapterName {
	position:relative;
	left: 20px;
	top: 0px;
	margin-bottom: 6px;
	width:280px;
	color:rgb(171,54,66);
	font-size: 18px;
}

.chapterName a:link{
	color:rgb(171,54,66);
	text-decoration: underline;
} 

.chapterName a:visited{
	color:rgb(255,135,55);
	text-decoration: underline;
} 
.chapterName a:hover{
	color:rgb(255,153,85);
	text-decoration: none;
} 

/*MinhNT - Add - End  */